!!! 5
html(lang='en')
  head

    title= title

    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/sticky-footer-navbar.css', rel='stylesheet')
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/img/favicon.ico', type='image/x-icon')

    block metas
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='')
      meta(name='author', content='')
      meta(name='title', content='#{title}')
      meta(name='description', content='')

    block pageScripts
      script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
      script(src='http://code.jquery.com/jquery-1.10.2.min.js')

  body

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{config.name}
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='#') Contact
            if user
              li <a href="/profile">Profile</a>
              li <a href="/logout">Logout</a>
            else
              li <a href="/login">Login</a>
        .nav-collapse.collapse
          ul.nav
            each link in links
              - var isActive = (link.path == current ? 'active' : '')
                li(class = '#{isActive}')
                a(href='#{link.path}')= link.label
     
    .container.container-head   
        block afterNav


    block modals





      



