extends index

block afterNav
  .page-header
    h1 Register an Account

  .row
    form.form-horizontal(action='/register', method='POST')
      .form-group
        label.control-label(for='username')
        input(
          type='text'
          name='username'
          id='username'
          placeholder='username'
          required)
        span.help-inline
      .form-group
        label.control-label(for='email')
        input(type='email'
          name='email'
          id='email'
          required
          placeholder='email@example.com')
        span.help-inline
      .form-group
        label.control-label(for='password')
        input(type='password'
          name='password'
          required
          placeholder='password')
      .form-group
        label.control-label(for='name[first]')
        input(type='text'
          name='name[first]'
          required
          placeholder='John')
      .form-group
        label.control-label(for='name[last]')
        input(type='text'
          name='name[last]'
          required
          placeholder='Smith')
      .form-actions
        button.btn.btn-primary(type='submit', id='#regBtn') Register
        | &nbsp;&nbsp;
        a.btn(href='/') Cancel        


